{% extends 'home/base.html' %}

{% block title %}Yeni İstifadəçi{% endblock %}

{% block content %}
  <div class="main-with-sidebar">

      <div class="box">
          <h2>Yeni user yarat</h2>

          {% if error %}
            <div style="background:#fff3f3;color:#8a1f1f;padding:8px;border-radius:6px;margin-bottom:8px">
                {{ error }}
            </div>
          {% endif %}

          <form method="POST">
              {% csrf_token %}
              
              <div style="margin-top:8px">
                  <label>Username</label>
                  <input name="username" required class="form-control">
              </div>

              <div style="margin-top:8px">
                  <label>Password</label>
                  <input name="password" type="password" required class="form-control">
              </div>

              <div style="margin-top:8px">
                  <label>Rol</label>
                  <select name="role" class="form-control">
                      <option value="patient">Pasiyent</option>
                      <option value="doctor">Həkim</option>
                      <option value="staff">Digər personal</option>
                      <option value="admin">Admin</option>
                  </select>
              </div>

              <div style="margin-top:12px; text-align:right">
                  <button class="btn btn-primary" type="submit">Yarat</button>
                  <a href="{% url 'users_list' %}" class="btn btn-secondary" style="margin-left:8px;">Geri</a>
              </div>
          </form>
      </div>
  </div>
{% endblock %}
